{% extends "estrutura.html" %}
{% block content %}
    <h2 class="mb-4">Favoritos</h2>
    <a href="{{ url_for('menu') }}" class="btn btn-secondary mb-4">Voltar para o Menu</a>
    
    <div class="card p-4 shadow">
        <h4 class="card-title mb-3">Novo Favorito</h4>
        <form action="{{ url_for('novo_favorito') }}" method="post">
            <div class="mb-3">
                <label for="anu_id" class="form-label">Anúncio:</label>
                <select id="anu_id" name="anu_id" class="form-select" required>
                    {% for anuncio in anuncios %}
                    <option value="{{ anuncio.id }}">{{ anuncio.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="usu_id" class="form-label">Usuário:</label>
                <select id="usu_id" name="usu_id" class="form-select" required>
                    {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Adicionar aos Favoritos</button>
        </form>
    </div>

    <h4 class="mt-5 mb-3">Lista de Favoritos</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Anúncio</th>
                    <th>Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for favorito in favoritos %}
                <tr>
                    <td>{{ favorito.id }}</td>
                    <td>{{ favorito.anuncio_favorito.nome }}</td>
                    <td>{{ favorito.usuario_favorito.nome }}</td>
                    <td><a href="{{ url_for('excluir_favorito', id=favorito.id) }}" onclick="return confirm('Deseja realmente excluir este favorito?');" class="btn btn-danger btn-sm">Excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}