{% extends "estrutura.html" %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="display-4">Bem-vindo ao E-commerce Clique Aqui!</h1>
        <p class="lead">O seu site para comprar e vender produtos online de forma rápida e segura.</p>
        <hr class="my-4">
        <p>Explore nossos anúncios públicos ou faça o login para gerenciar sua conta.</p>
        <a href="{{ url_for('anuncios_publicos') }}" class="btn btn-primary btn-lg mt-3 me-2">Ver Anúncios Públicos</a>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" class="btn btn-secondary btn-lg mt-3">Login</a>
        {% endif %}
    </div>
{% endblock %}