{% extends 'estrutura.html' %}
{% block content %}
    <h4>Login</h4>

    <form action="{{ url_for('login') }}" method="post">
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </p>

        <p> 
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha">
        </p> 

        <p>
             <input type="submit" value="Logar">
             <input type="reset" value="Limpar Formulário">
            </p>
    </form>

 <p>Não tem uma conta? <a href="{{ url_for('exibir_cadastro') }}">Cadastre-se agora!</a></p>
    <p><a href="{{ url_for('index') }}">Voltar à página inicial</a></p>
{% endblock %}