{% extends "estrutura.html" %}

{% block content %}
    <h2>Bem-vindo ao E-commerce Clique Aqui</h2>

    <nav>
        <ul>
            {% if current_user.is_authenticated %}
            <li>
                <h2>Cadastros</h2>
                <ul>
                    <li><a href="{{ url_for('lista_usuario') }}">Usuário</a></li>
                    <li><a href="{{ url_for('lista_anuncio') }}">Anúncios</a></li>
                </ul>
            </li>
            <li>
                <h2>Anúncios</h2>
                <ul>
                    <li><a href="{{ url_for('lista_pergunta') }}">Pergunta</a></li>
                    <li><a href="{{ url_for('lista_compra') }}">Compra</a></li>
                    <li><a href="{{ url_for('lista_favoritos') }}">Favoritos</a></li>
                </ul>
            </li>
            <li>
                <h2>Configurações</h2>
                <ul>
                    <li><a href="{{ url_for('lista_categoria') }}">Categoria</a></li>
                </ul>
            </li>
            <li>
                <h2>Relatórios</h2>
                <ul>
                    <li><a href="{{ url_for('relatorio_vendas') }}">Vendas</a></li>
                    <li><a href="{{ url_for('relatorio_compras') }}">Compras</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Entrar</a></li>
            <li><a href="{{ url_for('exibir_cadastro') }}">Cadastre-se</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}