{% extends "estrutura.html" %}

{% block content %}
    <h2 class="mb-4">Relatório de Vendas</h2>
    <a href="{{ url_for('menu') }}" class="btn btn-secondary mb-4">Voltar ao Menu</a>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID da Compra</th>
                    <th>Anúncio</th>
                    <th>Descrição</th>
                    <th>Preço da Venda</th>
                    <th>Vendedor</th>
                </tr>
            </thead>
            <tbody>
                {% for compra, anuncio, usuario in vendas %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ anuncio.nome }}</td>
                    <td>{{ anuncio.desc }}</td>
                    <td>{{ compra.preco }}</td>
                    <td>{{ usuario.nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}